@import '~@angular/material/theming';

.progress-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  > mat-icon {
    position: absolute;
    transform: scale(2);
  }
}
mat-progress-spinner.background {
  position: absolute;
}
.goal-name {
  font-size: 18px;
}
.goal {
  @include mat-elevation(2);
  @include mat-elevation-transition;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  user-select: none;
  &:hover {
    @include mat-elevation(4);
  }
}
