:host {
  position: absolute;
  width: 100%;
}
.add-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
.container {
  padding: 16px;
}

.filter-button {
  position: absolute;
  z-index: 4;
  top: -20px;
  right: 40px;
}
