@import '~@angular/material/theming';

.breadcrumbs-bar {
  z-index: 2;
  position: relative;
  @include mat-elevation(4);
  border-radius: 0 0 32px 32px;
  user-select: none;
}

.crumb {
  font-family: Poppins;
  cursor: pointer;

  &:not(.last):hover {
    text-decoration: underline;
  }
}
